.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}
.footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
.footer-copyright {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}
.footer-copyright p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}




